@{
    ViewBag.Title = "Edit Images";
}

@model List<Car_Sale_Web_Site.Models.File>
@using PagedList.Mvc;

<h2>Edit Images</h2>

<br>
<section class="row">
    @for (int i = 0; i < Model.Count(); i++)
    {
        <article style="text-align:center" class="post col-md-2">
            <div>
                <a href="~/File?id=@Model.ElementAt(i).FileId" data-lightbox="cars"><img src="~/File?id=@Model.ElementAt(i).FileId" alt="photo" width="160" height="100" /></a>
            </div>
            <div>
                @*@Html.ActionLink("Delete", "Delete", "Admin", new { id = Model[i].FileId })*@
                @Html.ActionLink("Delete", "Delete", new { id = Model[i].FileId })
            </div>
            <br />
        </article>
    }
</section>