@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<span style="float:right">
    <img width="500"style="margin-right:200px" src="~/fonts/contactUs.png" />
</span>
<h3>@ViewBag.Message</h3>


<address>    
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">Phone:</abbr>
    +425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@CarSales.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@CarSales.com</a>
</address>