@model IEnumerable<Car_Sale_Web_Site.Models.PostCar>

@{
    ViewBag.Title = "Search";
}

<h2>Search Cars</h2>



<tbody>
    <tr>
        <td class="t_l" width="4"><img src="images/px.gif" height="1"></td>
        <td style="padding:0px;" class="formbgr" width="972">
            <table class="ver13black" id="searchForm" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td style="padding:5px" valign="top">
                            <table border="0" cellpadding="3" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td style="border-bottom:1px solid #cccccc;" colspan="2"><img src="images/px.gif" height="1" width="1"></td>
                                    </tr>
                                    <tr id="coupecontainer">
                                        <td>
                                            <span id="coupespan">
                                                <b>Car Type</b><br><img src="images/px.gif" height="3" width="1"><br>
                                                <select style="width:150px;" name="categoryId" id="categoryId">
                                                    <option value="0">- All -</option>
                                                    <option value="1">Sedan</option>
                                                    <option value="4">Combi</option>
                                                    <option value="6">Cabrio</option>
                                                    <option value="7">Jeep</option>
                                                    <option value="9">Van</option>
                                                </select>
                                            </span>
                                        </td>
                                        <td>
                                            <b>Doors number</b><br><img src="images/px.gif" height="3" width="1"><br>
                                            <select style="width:150px;" name="doorId" id="doorId">
                                                <option value="0">- All -</option>
                                                <option value="1">2/3</option>
                                                <option value="2">4/5</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border-bottom:1px solid #cccccc;" colspan="2"><img src="images/px.gif" height="1" width="1"></td>
                                    </tr>
                                    <tr id="brandTR">
                                        <td>
                                            <b>Make</b><br><img src="images/px.gif" height="3" width="1"><br>
                                            <input style="width:145px;">
                                        </td>
                                        <td>
                                            <b>Model</b><br><img src="images/px.gif" height="3" width="1"><br>
                                            <span id="model">
                                                <input style="width:145px;">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-bottom:1px solid #cccccc;" colspan="2"><img src="images/px.gif" height="1" width="1"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Fuel type</b><br><img src="images/px.gif" height="3" width="1"><br>
                                            <select style="width:150px;" name="fuelId" id="fuelId">
                                                <option value="0">- All -</option>
                                                <option value="1">Petrol</option>
                                                <option value="2">Diesel</option>
                                                <option value="3">LPG</option>
                                                <option value="4">Methane</option>
                                                <option value="6">Hybrid</option>
                                                <option value="7">Electric</option>
                                            </select>
                                        </td>
                                        <td>
                                            <b>Transmission</b><br><img src="images/px.gif" height="3" width="1"><br>
                                            <select style="width:150px;" name="gearId" id="gearId">
                                                <option value="0">- All -</option>
                                                <option value="1">Hand</option>
                                                <option value="2">Automatic</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-bottom:1px solid #cccccc;" colspan="2"><img src="images/px.gif" height="1" width="1"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <strong>Year</strong><br><img src="images/px.gif" height="3" width="1"><br>
                                            from <select name="yearFrom" id="yearFrom" class="textfield">
                                                <option value=""></option>
                                                <option value="2016">2016 </option>
                                                <option value="2015">2015 </option>
                                                <option value="2014">2014 </option>
                                                <option value="2013">2013 </option>
                                                <option value="2012">2012 </option>
                                                <option value="2011">2011 </option>
                                                <option value="2010">2010 </option>
                                                <option value="2009">2009 </option>
                                                <option value="2008">2008 </option>
                                                <option value="2007">2007 </option>
                                                <option value="2006">2006 </option>
                                                <option value="2005">2005 </option>
                                                <option value="2004">2004 </option>
                                                <option value="2003">2003 </option>
                                                <option value="2002">2002 </option>
                                                <option value="2001">2001 </option>
                                                <option value="2000">2000 </option>
                                                <option value="1999">1999 </option>
                                                <option value="1998">1998 </option>
                                                <option value="1997">1997 </option>
                                                <option value="1996">1996 </option>
                                                <option value="1995">1995 </option>
                                                <option value="1994">1994 </option>
                                                <option value="1993">1993 </option>
                                                <option value="1992">1992 </option>
                                                <option value="1991">1991 </option>
                                                <option value="1990">1990 </option>
                                                <option value="1989">1989 </option>
                                                <option value="1988">1988 </option>
                                                <option value="1987">1987 </option>
                                                <option value="1986">1986 </option>
                                                <option value="1985">1985 </option>
                                                <option value="1984">1984 </option>
                                                <option value="1983">1983 </option>
                                                <option value="1982">1982 </option>
                                                <option value="1981">1981 </option>
                                                <option value="1980">1980 </option>
                                                <option value="1979">1979 </option>
                                                <option value="1978">1978 </option>
                                                <option value="1977">1977 </option>
                                                <option value="1976">1976 </option>
                                                <option value="1975">1975 </option>
                                                <option value="1974">1974 </option>
                                                <option value="1973">1973 </option>
                                                <option value="1972">1972 </option>
                                                <option value="1971">1971 </option>
                                            </select>
                                            &nbsp;
                                            to <select name="yearTo" id="yearTo" class="textfield">
                                                <option value=""></option>
                                                <option value="2016">2016 </option>
                                                <option value="2015">2015 </option>
                                                <option value="2014">2014 </option>
                                                <option value="2013">2013 </option>
                                                <option value="2012">2012 </option>
                                                <option value="2011">2011 </option>
                                                <option value="2010">2010 </option>
                                                <option value="2009">2009 </option>
                                                <option value="2008">2008 </option>
                                                <option value="2007">2007 </option>
                                                <option value="2006">2006 </option>
                                                <option value="2005">2005 </option>
                                                <option value="2004">2004 </option>
                                                <option value="2003">2003 </option>
                                                <option value="2002">2002 </option>
                                                <option value="2001">2001 </option>
                                                <option value="2000">2000 </option>
                                                <option value="1999">1999 </option>
                                                <option value="1998">1998 </option>
                                                <option value="1997">1997 </option>
                                                <option value="1996">1996 </option>
                                                <option value="1995">1995 </option>
                                                <option value="1994">1994 </option>
                                                <option value="1993">1993 </option>
                                                <option value="1992">1992 </option>
                                                <option value="1991">1991 </option>
                                                <option value="1990">1990 </option>
                                                <option value="1989">1989 </option>
                                                <option value="1988">1988 </option>
                                                <option value="1987">1987 </option>
                                                <option value="1986">1986 </option>
                                                <option value="1985">1985 </option>
                                                <option value="1984">1984 </option>
                                                <option value="1983">1983 </option>
                                                <option value="1982">1982 </option>
                                                <option value="1981">1981 </option>
                                                <option value="1980">1980 </option>
                                                <option value="1979">1979 </option>
                                                <option value="1978">1978 </option>
                                                <option value="1977">1977 </option>
                                                <option value="1976">1976 </option>
                                                <option value="1975">1975 </option>
                                                <option value="1974">1974 </option>
                                                <option value="1973">1973 </option>
                                                <option value="1972">1972 </option>
                                                <option value="1971">1971 </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-bottom:1px solid #cccccc;" colspan="2"><img src="images/px.gif" height="1" width="1"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <b>Price</b>&nbsp;&nbsp;&nbsp;<input name="manual_price" value="1" onclick="if(this.checked){$('#rangepricetable').hide();$('#manualpricetable').show();} else { $('#rangepricetable').show();$('#manualpricetable').hide(); }" type="checkbox">detail price<br><img src="images/px.gif" height="3" width="1"><br>
                                            <table id="rangepricetable" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select name="priceFrom" id="PriceFrom" onchange="$('#priceToContainer').load('?ajax=generatePrice&amp;start='+ this.options[this.selectedIndex].value);" class="textfield">
                                                                <option value=""></option>
                                                                <option value="1000"> 1000</option>
                                                                <option value="2000"> 2000</option>
                                                                <option value="3000"> 3000</option>
                                                                <option value="4000"> 4000</option>
                                                                <option value="5000"> 5000</option>
                                                                <option value="6000"> 6000</option>
                                                                <option value="7000"> 7000</option>
                                                                <option value="8000"> 8000</option>
                                                                <option value="9000"> 9000</option>
                                                                <option value="10000"> 10000</option>
                                                                <option value="11000"> 11000</option>
                                                                <option value="12000"> 12000</option>
                                                                <option value="13000"> 13000</option>
                                                                <option value="14000"> 14000</option>
                                                                <option value="15000"> 15000</option>
                                                                <option value="16000"> 16000</option>
                                                                <option value="17000"> 17000</option>
                                                                <option value="18000"> 18000</option>
                                                                <option value="19000"> 19000</option>
                                                                <option value="20000"> 20000</option>
                                                                <option value="21000"> 21000</option>
                                                                <option value="22000"> 22000</option>
                                                                <option value="23000"> 23000</option>
                                                                <option value="24000"> 24000</option>
                                                                <option value="25000"> 25000</option>
                                                                <option value="30000"> 30000</option>
                                                                <option value="35000"> 35000</option>
                                                                <option value="40000"> 40000</option>
                                                                <option value="45000"> 45000</option>
                                                                <option value="50000"> 50000</option>
                                                                <option value="55000"> 55000</option>
                                                                <option value="60000"> 60000</option>
                                                                <option value="65000"> 65000</option>
                                                                <option value="70000"> 70000</option>
                                                                <option value="75000"> 75000</option>
                                                                <option value="80000"> 80000</option>
                                                                <option value="85000"> 85000</option>
                                                                <option value="90000"> 90000</option>
                                                            </select>
                                                        </td>
                                                        <td style="padding-left:3px;padding-right:3px;">
                                                            -

                                                        </td>
                                                        <td>
                                                            <div id="priceToContainer">
                                                                <select name="priceTo" id="PriceTo" class="textfield">
                                                                    <option value=""></option>
                                                                    <option value="1000"> 1000</option>
                                                                    <option value="2000"> 2000</option>
                                                                    <option value="3000"> 3000</option>
                                                                    <option value="4000"> 4000</option>
                                                                    <option value="5000"> 5000</option>
                                                                    <option value="6000"> 6000</option>
                                                                    <option value="7000"> 7000</option>
                                                                    <option value="8000"> 8000</option>
                                                                    <option value="9000"> 9000</option>
                                                                    <option value="10000"> 10000</option>
                                                                    <option value="11000"> 11000</option>
                                                                    <option value="12000"> 12000</option>
                                                                    <option value="13000"> 13000</option>
                                                                    <option value="14000"> 14000</option>
                                                                    <option value="15000"> 15000</option>
                                                                    <option value="16000"> 16000</option>
                                                                    <option value="17000"> 17000</option>
                                                                    <option value="18000"> 18000</option>
                                                                    <option value="19000"> 19000</option>
                                                                    <option value="20000"> 20000</option>
                                                                    <option value="21000"> 21000</option>
                                                                    <option value="22000"> 22000</option>
                                                                    <option value="23000"> 23000</option>
                                                                    <option value="24000"> 24000</option>
                                                                    <option value="25000"> 25000</option>
                                                                    <option value="30000"> 30000</option>
                                                                    <option value="35000"> 35000</option>
                                                                    <option value="40000"> 40000</option>
                                                                    <option value="45000"> 45000</option>
                                                                    <option value="50000"> 50000</option>
                                                                    <option value="55000"> 55000</option>
                                                                    <option value="60000"> 60000</option>
                                                                    <option value="65000"> 65000</option>
                                                                    <option value="70000"> 70000</option>
                                                                    <option value="75000"> 75000</option>
                                                                    <option value="80000"> 80000</option>
                                                                    <option value="85000"> 85000</option>
                                                                    <option value="90000"> 90000</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            &nbsp;
                                                            EUR
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table id="manualpricetable" style="display:none;" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            from
                                                            <input name="man_priceFrom" id="man_PriceFrom" size="6" class="textfield" value="0" type="text"> to
                                                            <input name="man_priceTo" id="man_PriceTo" size="6" class="textfield" value="0" type="text">
                                                        </td>
                                                        <td>
                                                            &nbsp;
                                                           EUR
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border-bottom:1px solid #cccccc;" colspan="2"><img src="images/px.gif" height="1" width="1"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <b>Horse power</b><br><img src="images/px.gif" height="3" width="1"><br>
                                            <table cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <select name="powerFrom" class="textfield">
                                                                <option value=""></option>
                                                                <option value="34"> 34</option>
                                                                <option value="50"> 50</option>
                                                                <option value="75"> 75</option>
                                                                <option value="90"> 90</option>
                                                                <option value="101"> 101</option>
                                                                <option value="131"> 131</option>
                                                                <option value="150"> 150</option>
                                                                <option value="200"> 200</option>
                                                                <option value="250"> 250</option>
                                                            </select>
                                                        </td>
                                                        <td style="padding-left:3px;padding-right:3px;">
                                                            -

                                                        </td>
                                                        <td>
                                                            <select name="powerTo" class="textfield">
                                                                <option value=""></option>
                                                                <option value="34"> 34</option>
                                                                <option value="50"> 50</option>
                                                                <option value="75"> 75</option>
                                                                <option value="90"> 90</option>
                                                                <option value="101"> 101</option>
                                                                <option value="131"> 131</option>
                                                                <option value="150"> 150</option>
                                                                <option value="200"> 200</option>
                                                                <option value="250"> 250</option>
                                                            </select>
                                                            h.p.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-bottom:1px solid #cccccc;" colspan="2"><img src="images/px.gif" height="1" width="1"></td>
                                    </tr>

                                    <tr>
                                        <td colspan="2">
                                            <b>Color</b><br><img src="images/px.gif" height="3" width="1"><br>
                                            <select style="width:150px;" name="colorId" id="colorId">
                                                <option value="0">- All -</option>
                                                <option value="12">Beige</option>
                                                <option value="11">Bordo</option>
                                                <option value="14">Bronze</option>
                                                <option value="8">Brown</option>
                                                <option value="6">Blue</option>
                                                <option value="10">Black</option>
                                                <option value="15">Gold</option>
                                                <option value="7">Green</option>
                                                <option value="9">Grey</option>
                                                <option value="3">Orange</option>
                                                <option value="16">Purple</option>
                                                <option value="19">Pink</option>
                                                <option value="4">Red</option>
                                                <option value="13">Silver</option>
                                                <option value="5">Violet</option>
                                                <option value="1">White</option>
                                                <option value="2">Wellow</option>
                                            </select>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>
                        <td width="10"><img src="images/px.gif" height="1" width="10"></td>
                        <td style="padding:5px" valign="top" width="100%">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <table border="0" cellpadding="3" cellspacing="0">
                                                <tbody>
                                                    <tr><td colspan="3"><b></b></td></tr>
                                                    <tr>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[1]" value="1" id="e1" type="checkbox">
                                                            <label for="e1">

                                                                Climatronic
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[2]" value="1" id="e2" onclick="document.getElementById('e1').disabled=document.getElementById('e2').checked;document.getElementById('e1').checked=false;" type="checkbox">
                                                            <label for="e2">

                                                                Climatic
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[3]" value="1" id="e3" type="checkbox">
                                                            <label for="e3">
                                                               Leather
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[4]" value="1" id="e4" type="checkbox">
                                                            <label for="e4">
                                                                El.windows
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[5]" value="1" id="e5" type="checkbox">
                                                            <label for="e5">
                                                                El.mirrors
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[6]" value="1" id="e6" type="checkbox">
                                                            <label for="e6">
                                                                El.seats
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[7]" value="1" id="e7" type="checkbox">
                                                            <label for="e7">
                                                                Seats heat
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[9]" value="1" id="e9" type="checkbox">
                                                            <label for="e9">
                                                                Audio
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[38]" value="1" id="e38" type="checkbox">
                                                            <label for="e38">
                                                                Retro
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[10]" value="1" id="e10" type="checkbox">
                                                            <label for="e10">
                                                                Allow weels
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[34]" value="1" id="e34" type="checkbox">
                                                            <label for="e34">
                                                                DVD/TV
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[34]" value="1" id="e34" type="checkbox">
                                                        <label for="e14">
                                                            Airbag
                                                        </label>
                                                    </tr>
                                                    <tr></tr>
                                                    <tr><td colspan="3" style="padding-top:10px;"><b></b></td></tr>
                                                    <tr>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[11]" value="1" id="e11" type="checkbox">
                                                            <label for="e11">
                                                                4x4
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[12]" value="1" id="e12" type="checkbox">
                                                            <label for="e12">
                                                                ABS
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[13]" value="1" id="e13" type="checkbox">
                                                            <label for="e13">
                                                                ESP
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[16]" value="1" id="e16" type="checkbox">
                                                            <label for="e16">
                                                                Hallogen lights
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[30]" value="1" id="e30" type="checkbox">
                                                            <label for="e30">
                                                                Navigation System
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[40]" value="1" id="e40" type="checkbox">
                                                            <label for="e40">
                                                                7 seats (6+1)
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[17]" value="1" id="e17" type="checkbox">
                                                            <label for="e17">
                                                                ASR/Traction controll
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[18]" value="1" id="e18" type="checkbox">
                                                            <label for="e18">
                                                                Parktronic
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[19]" value="1" id="e19" type="checkbox">
                                                            <label for="e19">
                                                                Alarm
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[20]" value="1" id="e20" type="checkbox">
                                                            <label for="e20">
                                                                Imobilazer
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[21]" value="1" id="e21" type="checkbox">
                                                            <label for="e21">
                                                                Central locking
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[22]" value="1" id="e22" type="checkbox">
                                                            <label for="e22">
                                                                Inshurance
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr></tr>
                                                    <tr><td colspan="3" style="padding-top:10px;"><b></b></td></tr>
                                                    <tr>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[23]" value="1" id="e23" type="checkbox">
                                                            <label for="e23">
                                                                Typetronic
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[24]" value="1" id="e24" type="checkbox">
                                                            <label for="e24">
                                                                Autopilot
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[37]" value="1" id="e37" type="checkbox">
                                                            <label for="e37">
                                                                TAXI
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[26]" value="1" id="e26" type="checkbox">
                                                            <label for="e26">
                                                                Compiuter
                                                            </label>
                                                        </td>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[27]" value="1" id="e27" type="checkbox">
                                                            <label for="e27">
                                                                Servise historry
                                                            </label>
                                                        <td style="padding-right:30px;" nowrap="" width="33%">
                                                            <input name="e[32]" value="1" id="e32" type="checkbox">
                                                            <label for="e32">
                                                                Tunning
                                                            </label>                                                            
                                                        </td>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr></tr>                                   
                                    <tr>
                                        <td valign="top">
                                            <table border="0" cellpadding="3" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2">
                                                            <b>Town</b><br><img src="images/px.gif" height="3" width="1"><br>
                                                            <input type="text" width="100" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-bottom:1px solid #cccccc;" colspan="2"><img src="images/px.gif" height="1" width="1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" nowrap="">
                                                            <b>Condition</b><br><img src="images/px.gif" height="3" width="1"><br>
                                                            <input name="offersFor4" id="offersFor4" checked="" value="1" type="checkbox">Brand new<br>
                                                            <input name="offersFor1" id="offersFor1" checked="" value="1" type="checkbox">Second Hand<br>
                                                            <input name="offersFor2" id="offersFor2" value="1" type="checkbox">Damaged<br>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="padding-left:10px;padding-right:10px;" align="right" valign="top"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td colspan="3" style="padding-bottom:5px;" width="100%">
                            <table align="center" bgcolor="#FF6600" border="0" cellpadding="0" cellspacing="0">
                                <tbody>

                                    <tr>
                                        <td></td>
                                        <td style="padding-left:5px;padding-right:5px;"><a href="javascript:;" onclick="document.getElementById('carsForm').submit();return false;" class="buttonPressedLink"><b><span id="searchButton">Search</span></b></a></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td class="t_r"></td>
    </tr>
</tbody>